<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
	crossorigin=""/>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
	 integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
	 crossorigin=""></script>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">

	<script src="https://d3js.org/d3.v5.js"></script>
	<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<title>Hangout @ Dataspark Competition 2018</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/subzone.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/legend.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/event items.js') }}"></script>
</head>

<body>

	<div class="container">
		<div class="header">
			<h2>Hangout</h2>

	<p>Is Singapore a truely boring city? We don't think so. Hangout is a real time web application that tells you where the happenings are at. Leveraging on Dataspark's API, we are able to tell you where the events are. And based on sentiment analysis from social media like Twitter, we can tell you if the event is worth it.</p>
	<small>Remember Artbox? Everyone was there but everyone was writing how small it is.</small>
	<br>
	<h3>Instructions</h3>
	<p>
		Attend an event if both sentiment and population mean change (avoid the blues) are neutral and above. Flags represent where events are currently at. Use the layer control to change the look of the map!
	</p>
	<div id="mapid"></div>
	</div>
<!-- beginning of js leaflet script  -->

	<script>
	console.log('{{ s_data|tojson|safe }}');
	//access the subzone data from subzone.js
	var subzones = [subzone_information]
	var data_xyz = {{ s_data|tojson }};
	var getAllevents = JSON.parse(data_xyz);
	//variable for flag icon
	var flagIcon = L.icon({
	iconUrl: '{{ url_for('static', filename='flag.png') }}',
	shadowUrl: '{{ url_for('static', filename='flag shadow.png') }}',

	iconSize:     [40, 60], // size of the icon
	shadowSize:   [50, 64], // size of the shadow
	iconAnchor:   [22, 59], // point of the icon which will correspond to marker's location
	shadowAnchor: [23, 61],  // the same for the shadow
	popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
	});


	var markers=[]
	function eventFlags(coordinates){
		for (i=0;i< coordinates.length;i++){
			var oneevent = coordinates[i]; //capture the event detail
			//console.log(oneevent);
			var event_name = oneevent["eventName"];
			var eventCoord = oneevent["eventCoord"];
			var event_Date = oneevent["eventDate"];
			var eventInfo = oneevent["eventInfo"];
			var sentiment_result = oneevent["sentiment"]; //capture sentiment information
			//console.log(event_name);
			var sentiment_overall=sentiment_result["overall"];
			var tweets="";
			for (j=0;j< sentiment_result["tweets"].length;j++){
				//console.log(sentiment_result["tweets"][j][0] )
				var tweet = '<p>' + sentiment_result["tweets"][j][0] +'</p>';
				tweets+= tweet;
			}
			//console.log(tweets);
			var sentiment=""
				if (sentiment_overall>=0.80){
					sentiment+="positive"
				}
				else if(0.60<=sentiment_overall<0.80){
					sentiment+="neutral"
				}
				else{
					sentiment="negative"
				}
				//console.log(sentiment);

				var myPopup = L.popup({
							maxHeight: 200,
							maxWidth:400,
							closeOnClick: false,
							keepInView: true
						}).setContent('<h1>'+event_name+'</h1><p><u>Event Details</u></p>'+eventInfo+'<p><u>Dates:</u><br>'+event_Date +'</p>'+'<p>It seems that there is a '+sentiment+' sentiment for this event.</p>' +'<p><u>Some tweets of '+event_name+'</u></p>'+tweets
					);

						var marker = L.marker([eventCoord[0],eventCoord[1]], {icon: flagIcon}).bindPopup(myPopup)
						markers.push(marker);
		}
	}
	//call and get the flag pins
	eventFlags(getAllevents);
	var event_markers = L.layerGroup(markers);


	var map = new L.Map("mapid", {center: [1.3521, 103.8198], zoom: 11.5,layers:[event_markers]}).addLayer(new L.TileLayer("http://maps-{s}.onemap.sg/v2/Original/{z}/{x}/{y}.png"));

	var pn ={{ aggregated|tojson }};
	var pnAll = JSON.parse(pn);

	var regional_geojson= L.geoJSON(subzones, {
		style: function(feature) {
			switch (feature.properties.REGION_C) {
					case 'CR': return {color: "#66c2a5"};
					case 'NR': return {color:"#fc8d62"};
					case 'ER' : return {color:"#8da0cb"};
					case 'NER' : return {color:"#e78ac3"};
					case 'WR' :return {color:"#a6d854"};
				}
			},
			onEachFeature: function (feature, layer) {
				layer.bindPopup('<h4>'+feature.properties.SUBZONE_N[0]+feature.properties.SUBZONE_N.substring(1,feature.properties.SUBZONE_N.length).toLowerCase()+'<h4>');
				}
			 })

			 function getColor(d) {
		     return d > pnAll["max"]  ? '#d7191c' :
		            d > 1  ? '#fdae61' :
		            d > 0  ? '#ffffbf' :
		            d > -1  ? '#abd9e9' :
		            d > pnAll["min"]  ? '#2c7bb6' :
								'#FFEDA0';
		 }

	 var pn_geojson= L.geoJSON(subzones, {
			style: function(feature) {
				return {
				        fillColor: getColor(pnAll[feature.properties.SUBZONE_C]),
				        weight: 2,
				        opacity: 1,
				        color: 'gray',
				        dashArray: '3',
				        fillOpacity: 0.85
				    };


				}

				 })
//map layer control
 var overlayMaps = {
 "Event Location": event_markers,
 "Region": regional_geojson,
 "PN": pn_geojson

 };
 var baseMaps={

 }
	L.control.layers(baseMaps, overlayMaps).addTo(map);
	//legend

	var legend = legend;
	legend.addTo(map);

	</script>

	<div class="container">
		<span class="text-muted">Built using Leaflet,GeoJson,OneMap, Flask. Data from data.gov.sg, DataSpark API, Twitter API,the web.</span>
	</div>

</body>

</html>
